<!DOCTYPE html>
<html>
<head>
    <title>Club Head Dashboard</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>

<h2 align="center">Club Head Dashboard</h2>

<p align="center">
    Welcome, {{ request.user.username }} <br>
    Club: <strong>{{ club.name }}</strong>
</p>

<p align="center">
    <a href="{% url 'clubhead_add_event' %}">Add New Event</a> |
    <a href="{% url 'logout' %}">Logout</a>
</p>

<hr>

<h3 align="center">Your Club Events</h3>

<table border="1" align="center" cellpadding="10">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Total Registrations</th>
    </tr>

    {% for event in events %}
    <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.eventregistration_set.count }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" align="center">No events created yet.</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
